.cart {
  width: 500px;
  margin: 0 auto;
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    img:hover {
      width: 26px;
    }
    img.item {
      width: 150px;
      margin-left: 20px;
    }

    .price {
      right: 0;
      font-weight: bold;
      font-size: 1.2em;
      letter-spacing: 2px;
    }
  }
}
.place-order {
  .total-cost {
    color: rgb(114, 30, 30);
    font-weight: bold;
    letter-spacing: 3px;
    text-align: right;
    font-size: 35px;
    margin-right: 40px;
  }
  button {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    background-color: #1b521d;
    color: #fff;
    border-radius: 5px;
    font-weight: bolder;
    &:hover{
      background-color: #000;
      color: #FFF;
    }
  }
}
