* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  margin: 0;
  background-color: #e8f5e9;
}
main {
  h2.empty {
    text-align: center;
    margin: 1em 0;
  }
}
h1 {
  text-align: center;
}
